@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans";
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 0%);
    padding: 25px 150px;
    
    img{
        width: 100px;
    }

    nav{
        display: flex;
        gap: 50px;
    }

    a{
        text-decoration: none;
        color: #908f8f;
        font-weight: 600;
        transition: all 0.3s;
    }

    a:hover{
        color: #fff;
        text-decoration: underline;
        transition: all 0.3s;
    }
}

#sectionStart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 150px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/images/headerBg.png");
    background-size: cover;
    background-position: 0px -100px;

    #info{
        display: flex;
        flex-direction: column;
        gap: 30px;

        img{
            width: fit-content;
        }

        h2{
            color: #d8d8da;
            font-size: 40px;
            font-weight: 400;
            max-width: 550px;
        }

        hr{
            max-width: 80px;
        }

        p{
            font-family: 'Raleway';
            font-style: normal;
            color: #979799;
            max-width: 550px;
        }
        button{
            width: fit-content;
            padding: 10px 35px;
            background: transparent;
            font-weight: 800;
            color: #d8d8da;
            border: 2px solid #d8d8da;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 100 900;
            transition: all 400ms;
        }

        button:hover{
            background-color: #d8d8da;
            color: #1c1c1c;
            transition: all 400ms;
        }

    }

    #trialContainer{
        background-color: #fefeff;
        color: #242323;
        
        span{
            color: #fe9a51;
        }

        #titleContainer{
            padding: 10px 50px;
            background-color: #f0f0ff;
        }
        
        #formContainer{
            padding: 0px 50px;

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px 0px;
                gap: 40px;
                
                input{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-bottom: 2px solid #d8d8da;
                    font-family: 'Raleway';
                    font-size: small;
                    font-weight: bold;
                }

                input::placeholder {
                    color: #cac8c8;
                }

                input:focus{
                    outline: none;
                }
            }

        }    

        button{
            width: 100%;
            padding: 20px;
            background-color: #fe9a51;
            font-weight: 800;
            border: none;
            color: #f2f2f8;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 100 900;
            transition: all 400ms;
        }

        button:hover{
            background-color: #ee8e49;
            transition: all 400ms;
        }

    }

} 

#socialMedia{
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
    align-items:center;

    border-bottom: 1px solid #565454;

    #socialText{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    h3{
        color: #565454;
        font-size: 23px;
    }

    p{
        color: #908f8f;
        max-width: 400px;
    }

    img{
        width: 550px;
    }
}

#sectionTab{
    display: flex;
    padding: 150px;
    font-weight: bold;
    justify-content: space-between;
    background-color: #f4f5f4;
    color: #f0f0ff;

    .tab{
        width: fit-content;
        padding: 45px 35px;
        background-color: #323332;
        border: 0.5px solid #d8d8da;
    }

    .orange{
        background-color: #ff8b38;
    }
    #tabInfo{
        display: flex;
        flex-direction: column;
        gap:40px;
        h3{
            color: #1c1c1c;
        }

        p{
            font-weight: normal;
            color: #908f8f;
            max-width: 480px;
        }

        
        button{
            width: fit-content;
            padding: 15px 30px;
            background-color: #fe9a51;
            font-weight: 800;
            border: none;
            color: #f2f2f8;
            font-family: 'Raleway';
            font-style: normal;
            transition: all 400ms;
        }

        button:hover{
            background-color: #ee8e49;
            transition: all 400ms;
        }
    }
}

#sectionList{
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;

    #listText{
        display: flex;
        flex-direction: column;
        gap: 25px;
        hr {
            border: none;
            height: 3px;
            background-color:#ee8e49;
            max-width: 15%;
        }

        p{
            font-size: 14px;
            max-width: 400px;
            color:#908f8f;
        }
    }

    .itemContainer{
        display: flex;
        align-items: center;
        gap: 30px;

        .item{

            h4{
                font-size: medium;
                font-weight: 400;
            }

            p{
                max-width: 350px !important;
            }
        }
     
        img{
            width: fit-content;
            height: fit-content;
        }
    }
}

